textarea {
    min-height: 400px;
}

p{
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

h3{
    margin-bottom: 1rem;
}

.container{
    margin-top: 1rem;
}

#emails-view div{
    display: flex;
    justify-content: space-between;
}
